name: On Prem Package
on:
  workflow_dispatch:
    inputs:
      binaryVersion:
        type: string
        description: the version of the tabnine binary which will be packaged into this plugin
        required: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: "google-github-actions/auth@v1"
        with:
          credentials_json: ${{ secrets.GCS_RELEASE_KEY }}
      - uses: 'google-github-actions/setup-gcloud@v1'
      - name: Build
        id: build
        run: |
         echo "downloading binaries"
         VERSION=${{ inputs.binaryVersion }} ./src/main/resources/binaries/downloadBinaries.sh
         echo "Patching plugin.xml"
         sed -i "s/<id>.*<\/id>/<id>com.tabnine.TabNine-Enterprise<\/id>/g" src/main/resources/META-INF/plugin.xml
         echo "building plugin"
         ./gradlew buildPlugin -PexternalVersion=${{ inputs.binaryVersion }} -Pchannel=onprem
         pluginPath=$(ls -t build/distributions/TabNine-*.zip | head -1)
         echo "pluginPath is ${pluginPath}"
         echo "pluginPath=${pluginPath}" >> $GITHUB_OUTPUT
         echo "name=$(basename $pluginPath)" >> $GITHUB_OUTPUT
         echo "uploading $(basename $pluginPath) to gs://latest-onprem-binaries/"
      - name: ⬆️ Upload vsix to GS
        uses: google-github-actions/upload-cloud-storage@v0
        with:
          path: ${{ steps.build.outputs.pluginPath }}
          destination: latest-onprem-binaries/${{ steps.build.outputs.name }}
